<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Panini Templates</title>
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{root}}assets/images/favicon/manifest.json">
		<link rel="shortcut icon" href="{{root}}assets/images/favicon/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="{{root}}assets/images/favicon/mstile-144x144.png">
		<meta name="msapplication-config" content="{{root}}assets/images/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="{{root}}assets/vendor/vendor.css">
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
	</head>
	<body>
		
		{{> navbar}}
		{{> body}}
		{{> footer}}

 		<script src="{{root}}assets/vendor/vendor.js"></script>
		<script src="{{root}}assets/js/app.js"></script>
	</body>
</html>